---
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';

const links = config.social || [];
---

{
  links.length > 0 && (
    <>
      {links.map(({ label, href, icon }: { label: string; href: string; icon: string }) => (
        <a {href} rel="me" class="sl-flex">
          <span class="sr-only">{label}</span>
          <Icon name={icon} />
        </a>
      ))}
    </>
  )
}
<a href="https://allowealth.io" class="sl-flex" title="Back to Website">
  <span class="sr-only">Back to Website</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="currentColor"
    aria-hidden="true"
  >
    <path d="M12 2.1L2 10v11h8v-7h4v7h8V10L12 2.1zm0 2.2l7 6.3v8.4h-4v-7H9v7H5v-8.4l7-6.3z"></path>
  </svg>
</a>

<style>
  @layer starlight.core {
    a {
      color: var(--sl-color-text-accent);
      padding: 0.5em;
      margin: -0.5em;
    }
    a:hover {
      color: var(--sl-color-white);
    }
  }
</style>
